h1 {font-size: 400%;
    color: blue;
    text-align: center;
}
body{background-color: bisque;}

h1{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 

h1{border-style: solid;
   border-color: black;
   border-width: 5px;}
h2{font-size: 200%;
    text-align: center;
    color: blue;}

h3{font-size: 200%;
   text-align: center;
   color: blue;}
    


